<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="An all in one app for tracking your health and fitness progress">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous" async defer></script>
        <title>Health Companion</title>
    </head>
    
    <body>
        <nav></nav>

        <main>
            <div id="invalidInputAlert" class="container-fluid">
                {% if errorMsg %}
                    <p>{{ errorMsg }}</p>
                {% else %}
                    <p></p>
                {% endif %}
            </div>

            <form action="/" method="post">
                <div class="mb-5 container-fluid" id="mealPlanConstraints">
                    <div class="mb-3">
                        <div class="form-floating">
                            <input class="form-control bg-primary-subtle" autocomplete="off" autofocus id="targetCal" name="targetCal" aria-describedby="targetCalHelp" placeholder="Target" type="number" min="0" {% if info %} value="{{ info.targetCal }}" {% endif %} required>
                            <label for="targetCal" class="form-label">Target Calories</label>
                        </div>
                        <div id="targetCalHelp" class="form-text">Total number of calories (kcal) to be consumed daily.</div>
                    </div>

                    <div class="mb-3">
                        <div class="input-group">
                            <div class="form-floating">
                                <input class="form-control bg-primary-subtle" autocomplete="off" id="fatPercent" name="fatPercent" aria-describedby="fatPercentHelp" placeholder="Percentage" type="number" min="0" {% if info %} value="{{ info.fatPercent }}" {% endif %} required>
                                <label for="fatPercent" class="form-label">Fat Percentage</label>
                            </div>
                            <span class="input-group-text">%</span>
                        </div>
                        <div id="fatPercentHelp" class="form-text">Proportion of total daily calories reserved for fat.</div>
                    </div>
                </div>

                <div class="mb-5 container-fluid" id="macroTable">
                    <table class="table table-hover align-middle">
                        <thead>
                            <tr>
                                <th scope="col">Macronutrient</th>
                                <th scope="col">Energy (kcal)</th>
                                <th scope="col">Mass (g)</th>
                            </tr>
                        </thead>

                        <tbody class="table-group-divider">
                            <tr>
                                <th scope="row">Protein</th>
                                <td>{% if info %}{{ info.proteinEnergy }}{% endif %}</td>
                                <td><input class="form-control bg-primary-subtle" autocomplete="off" id="proteinMass" name="proteinMass" placeholder="Mass" type="number" min="0" {% if info %} value="{{ info.proteinMass }}" {% endif %} required></td>
                            </tr>
                            <tr>
                                <th scope="row">Fat</th>
                                <td>{% if info %}{{ info.fatEnergy }}{% endif %}</td>
                                <td>{% if info %}{{ info.fatMass }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th scope="row">Carbohydrate</th>
                                <td>{% if info %}{{ info.carbEnergy }}{% endif %}</td>
                                <td>{% if info %}{{ info.carbMass }}{% endif %}</td>
                            </tr>
                        </tbody>

                        <tfoot class="table-group-divider">
                            <tr>
                                <th scope="row">Total</th>
                                <td>{% if info %}{{ info.totalEnergy }}{% endif %}</td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="mb-5 container-fluid" id="submitButton">
                    <button type="submit" class="btn btn-primary">Calculate</button>
                </div>
            </form>
        </main>

        <footer></footer>
    </body>
</html>